<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    
  </head>
  <body>
    <div class= "container text-center">
      <h1 class="title">About Page</h1>
      <p>VicGig is a place for artists to find gigs, event planners to find artists and artists to find other artists.
      if you are looing for a band to play an event, an opening band while you are in town, or to meet other musicians in your area,
      you are in the right place!</p>
    </div>
   
  </body>
</html>