<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VicGig</title>
    
  </head>
  <body>
    <div class="home-callout text-center container-fluid">
      <h1 class="title">Welcome to VicGig</h1>
      <h3>Helping you add the music!</h3>
    </div>
    <div class= 'container home-signup-links'>
      <% if user_signed_in? %>
      <% else %>
        <div class='row'>
          <div class='col-md-6'>
            <div class='well'>
              <div class='text-center'>
              <h2>I'm an Artist</h2>
                <h4>Sign up as a musician or band</h4>
                <%= link_to "Sign up as Artist", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
              </div>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='well'>
              <div class='text-center'>
                <h2>I'm looking for an Artist</h2>
                <h4>Sign up to see local musicians avaliable fo gigs!</h4>
                <%= link_to "Sign up as Customer", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    
  </body>
</html>